<yandex>
  <listen_host>0.0.0.0</listen_host>
    <!-- Definisi Path -->
  <path>/var/lib/clickhouse/</path>
  <tmp_path>/var/lib/clickhouse/tmp/</tmp_path>
  <user_files_path>/var/lib/clickhouse/user_files/</user_files_path>
  <format_schema_path>/var/lib/clickhouse/format_schemas/</format_schema_path>

  <!-- Logger -->
  <logger>
    <log>/var/log/clickhouse-server/clickhouse-server.log</log>
    <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
  </logger>
  <!-- Remote Servers untuk Cluster -->
  <remote_servers>
    <analytics_cluster>
      <shard>
        <replica>
          <host>clickhouse-node1</host>
          <port>9000</port>
        </replica>
        <replica>
          <host>clickhouse-node2</host>
          <port>9000</port>
        </replica>
      </shard>
    </analytics_cluster>
  </remote_servers>

  <!-- Zookeeper (Opsional) -->
  <zookeeper>
    <node>
      <host>zookeeper</host>
      <port>2181</port>
    </node>
  </zookeeper>

  <!-- Macro untuk Shard & Replica -->
  <macros>
    <shard>1</shard>
    <replica>replica2</replica>
  </macros>
</yandex>
